@import "../../utils/scss/index.scss";

.spa {
  padding-bottom: $mobile-margin;
  background: linear-gradient(to top, $grey-2, $grey-1);
  min-height: 100vh;
  @include for-size(tablet) {
    padding-bottom: $tablet-margin;
  }

  @include for-size(desktop-lg) {
    padding-bottom: $tablet-margin * 2;
  }
}
